*~
*.o
*.so
*.lo
*.a
*.la
*.loT
*.orig
*.rej
.libs
.deps
*.dirstamp
.\#*
\#*
*.user
*.suo
*.ncb
*.pdb
*.map
*.lib
*.obj
*.idb
*.res
*.exp
*.exe
*.manifest
*.dep
*.dll
*.sbr
*.ilk
*.bsc
*.pch
*.opensdf
*.tar
*.gz
*.tgz
*.xz
*.bz2
*.tbz2
*.deb
*.swp
*.serial
aclocal.m4
autom4te.cache
config.cache
configure.lineno
config.log
config.status
Makefile
Makefile.in
compile
config.guess
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
test-driver
core.*
TAGS
/iksemel/build/compile
/iksemel/doc/Makefile
/iksemel/doc/Makefile.in
/iksemel/include/config.h
/iksemel/include/Makefile
/iksemel/include/Makefile.in
/iksemel/include/stamp-h1
/iksemel/Makefile
/iksemel/Makefile.in
/iksemel/src/Makefile
/iksemel/src/Makefile.in
/iksemel/test/Makefile
/iksemel/test/Makefile.in
/iksemel/test/tst-dom
/iksemel/test/tst-filter
/iksemel/test/tst-iks
/iksemel/test/tst-ikstack
/iksemel/test/tst-jid
/iksemel/test/tst-md5
/iksemel/test/tst-sax
/iksemel/test/tst-sha
/iksemel/tools/ikslint
/iksemel/tools/iksperf
/iksemel/tools/iksroster
/iksemel/tools/Makefile
/iksemel/tools/Makefile.in
/iksemel/iksemel.pc
/iksemel/include/config.h.in